.container {
  background: #080808;
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.info h1 {
  font-size: 3em;
  text-align: center;
  color: #00ffde;
}

.info h2 {
  font-size: 2em;
}

.info h2, h3 {
  margin-left: 50px;
  color: #bafbf3;
}
