.container {
  font-family: "Roboto", sans-serif;
  background: #080808;
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
}

.info {
  margin: 40px;
  font-size: 1.5em;
}

.info a {
  color:#bafbf3;
}

.info span {
  color: #00ffde;
  width: 150px;
  margin-left: 10px;
}

.aLink {
  width: auto !important;
  color:#bafbf3 !important;
}
