.container {
  background: #080808;
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.info {
  position: relative;
  top: 30%;
}

.info h1 {
  font-size: 3em;
  color: #00ffde;
}

.info h2 {
  font-size: 2em;
  color: #bafbf3;
}

.info h3{
  font-size: 1.5em;
  color: #bafbf3;
}
.info h1, h2, h3{
  font-family: "Roboto", sans-serif;
}
