
#login body{
  width: 300px;
  background: #f0f0f0;
  border: 1px solid white;
  margin: 250px auto 0;
  padding: 1em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#login h1,h2,h3,h4,h5{
  margin-top:0;
  font-family: arial black,arial;
  text-align: center;
}

#login input[type=text]{
  display: block;
  margin: 0 0 1em 0;
  width: 280px;
  border: 5px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
padding: 1em;
}

#login input[type=submit]
