.container {
  background: #080808;
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
}

.info {
  margin-left: 20px;
}

.info h1 {
  color: #00ffde;
  text-align: center;
  font-size: 3em;
}

.info h2 {
  color: #00ffde;
  font-size: 2em;
}

.info h3{
  color: #bafbf3;
}

.info h1, h2, h3{
  font-family: "Roboto", sans-serif;
}

.info h2, h3, img{
  margin-left: 40px;
  margin-right: 40px;
}
